<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div>
      <div
        class="inline-block cursor-pointer border border-transparent hover:border-gray-300">
        <div class="flex p-2">
          <div class="w-40 m-3">
            <img src="../../assets/image/png-button/conf.png" alt="" />
          </div>
          <div class="p-2 w-full md:max-w-72">
            <div class="mb-2">
              <p class="text-2xl text-gray-400">Medium Trowel</p>
              <p class="py-4">
                Textured finish for external residential concrete surfaces,
                ideal for patios and pool surrounds.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="inline-block cursor-pointer border border-transparent hover:border-gray-300">
        <div class="flex p-2">
          <div class="w-40 m-3">
            <img src="../../assets/image/png-button/conf2.png" alt="" />
          </div>
          <div class="p-2 w-full md:max-w-72">
            <div class="mb-2">
              <p class="text-2xl text-gray-400">Sandstone</p>
              <p class="py-4">
                Textured finish for external residential concrete surfaces,
                ideal for patios and pool surrounds.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="inline-block cursor-pointer border border-transparent hover:border-gray-300">
        <div class="flex p-2">
          <div class="w-40 m-3">
            <img src="../../assets/image/png-button/conf3.png" alt="" />
          </div>
          <div class="p-2 w-full md:max-w-72">
            <div class="mb-2">
              <p class="text-2xl text-gray-400">Texture Roll</p>
              <p class="py-4">
                Textured finish for external residential concrete surfaces,
                ideal for patios and pool surrounds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
