<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="text-center">
          <img
            src="../../assets/image/websiteImage/secondArticleImg.png"
            alt="Concrete"
            class="max-w-full mx-auto p-20"
          />
        </div>
        <div>
          <h2 class="text-2xl md:text-6xl font-bold text-gray-900">
            Create the look you want.
          </h2>
          <div class="mt-4 md:text-left mb-3.5">
            <p class="leading-6 text-base text-gray-700">
              Create the look you want. We’ve developed a step-by-step design
              tool that will help you create a space that’s right for your
              lifestyle. So, let’s get started.
            </p>
            <div
              class="text-blueButtonPeterfell mt-8 hover:brightness-0 hover: transition-all duration-300"
            >
              <a
                href="#"
                class="inline-flex border-b-blueButtonPeterfell border-b-2 items-center p-1"
              >
                <p class="text-lg font-bold">Use the design tool</p>
                <div class="ms-2">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
