<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex justify-between bg-black md:flex-col">
      <div class="flex">
        <button class="items-center">
          <img
            class="brightness-100 w-20 content-center ml-2 lg:transition-all lg:w-[140px]"
            src="../../assets/image/png-logo/PeterFell-Logo-On-Dark.png"
            alt="" />
        </button>
      </div>
      <div
        class="flex justify-between gap-5 mr-3 md:transition-all md:flex-col md:ml-2 md:mr-0 md:mt-6">
        <button class="md:flex items-center">
          <img
            class="w-[18px]"
            src="../../assets/image/peterfell sidebart/Icon-Menu-1.png"
            alt="" />
          <p class="text-white hidden md:block md:ml-3 sm:dis">Menù</p>
        </button>
        <button class="md:flex items-center">
          <img
            class="w-[18px]"
            src="../../assets/image/peterfell sidebart/Icon-Tool-1.png"
            alt="" />

          <p class="text-white hidden md:block md:ml-3">Design Tool</p>
        </button>

        <button class="md:flex items-center">
          <img
            class="w-[18px]"
            src="../../assets/image/peterfell sidebart/Icon-Cart-1.png"
            alt="" />
          <p class="text-white hidden md:block md:ml-3">0</p>
        </button>
      </div>
    </div>
  </body>
</html>
