<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Configurator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../../style.css" rel="stylesheet" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="w-11/12 mx-auto flex flex-col gap-11">
          <div class="flex justify-between  md:flex-col px-2 py-4">
      <div class="flex">
        <button class="items-center">
          <img
            class="brightness-100 w-20 content-center ml-2 lg:transition-all lg:w-[140px]"
            src="../../assets/image/png-logo/PeterFell-Logo-On-Dark.png"
          />
        </button>
      </div>
      <div
        class="flex justify-between gap-5 mr-3 md:transition-all md:flex-col md:ml-2 md:mr-0 md:mt-6"
      >
        <button class="md:flex items-center">
          <img
            class="w-[18px]"
            src="../../assets/image/peterfell sidebart/Icon-Menu-1.png"
          />
          <p class="text-white hidden md:block md:ml-3 sm:dis">Menù</p>
        </button>
        <button class="md:flex items-center">
          <img
            class="w-[18px]"
            src="../../assets/image/peterfell sidebart/Icon-Tool-1.png"
          />

          <p class="text-white hidden md:block md:ml-3">Design Tool</p>
        </button>

        <button class="md:flex items-center">
          <img
            class="w-[18px]"
            src="../../assets/image/peterfell sidebart/Icon-Cart-1.png"
          />
          <p class="text-white hidden md:block md:ml-3">0</p>
        </button>
      </div>
    </div>
      <div class="grid grid-cols-2 gap 4">
        <div>
          <div class="grid grid-cols-2 gap-6">
            <div><h1 class="text-6xl text-black">H1 Headline</h1></div>
            <div><h2 class="text-6xl text-black">H2 Headline</h2></div>
            <div><h3 class="text-3xl text-black">H3 Headline</h3></div>
            <p class="font-bold text-2xl">H4 Headline</p>

            <p class="text-2xl text-black">H5 Headline</p>
            <p class="text-2xl text-black">H6 Headline</p>
            <div><h3 class="text-xl text-black">Button</h3></div>
            <div class="flex items-center justify-center mr-auto">
              <p class="text-black">Testo Paragrafo</p>
            </div>
          </div>
        </div>
        <div>
          <div class="grid grid-cols-4 gap-2 text-center rounde text-xs">
            <div class="bg-bluePeterfell p-4 rounded-lg text-white">
              <p>5A87AC</p>
            </div>
            <div class="bg-bluePeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-rosePeterfell p-4 rounded-lg">
              <p>CF9294</p>
            </div>
            <div class="bg-rosePeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-blueButtonPeterfell p-4 rounded-lg text-white">
              <p>7A99AC</p>
            </div>
            <div class="bg-blueButtonPeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-orangeLightPeterfell p-4 rounded-lg">
              <p>C17042</p>
            </div>
            <div
              class="bg-orangeLightPeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-orangePeterfell p-4 text-white rounded-lg">
              <p>B65838</p>
            </div>
            <div class="bg-orangePeterfell opacity-40 p-4 rounded-lg"></div>
            <div class="bg-yellowPeterfell p-4 rounded-lg">
              <p>CF9C42</p>
            </div>
            <div class="bg-yellowPeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-grayPeterfell p-4 text-white rounded-lg">
              <p>797A7B</p>
            </div>
            <div class="bg-grayPeterfell opacity-40 p-4 rounded-lg"></div>
            <div class="bg-greenLightPeterfell p-4 rounded-lg">
              <p>A49A51</p>
            </div>
            <div class="bg-greenLightPeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-grayTextPeterfell p-4 text-white rounded-lg">
              <p>6D6E70</p>
            </div>
            <div class="bg-grayTextPeterfell opacity-40 p-4 rounded-lg"></div>
            <div class="bg-greenPeterfell p-4 rounded-lg">
              <p>788C50</p>
            </div>
            <div class="bg-greenPeterfell p-4 rounded-lg opacity-40"></div>
            <div class="bg-black p-4 rounded-lg text-white">
              <p>000000</p>
            </div>
            <div class="bg-black opacity-40 p-4 rounded-lg"></div>
            <div class="bg-white p-4 drop-shadow-lg rounded-lg">
              <p>FFFFFF</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <div class="flex items-center gap-2">
            <button
              type="button"
              class="flex bg-blueButtonPeterfell p-2 place-content-center min-w-64 cursor-not-allowed">
              <p class="text-sm text-white">Step 1: <strong>Space</strong></p>
            </button>
            <img
              src="https://www.peterfell.co.nz/wp-content/uploads/Icon-Chevron-Right-Blue-1.png"
              alt="chevron" />
          </div>
        </div>

        <div
          class="inline-block border-b-blueButtonPeterfell border-b-2 text-blueButtonPeterfell hover:brightness-0 hover: transition-all duration-300">
          <a href="#" class="flex flex-row items-center p-1"
            ><p class="text-sm font-bold">Choose your colour</p>
            <div class="ms-2">
              <img src="../../assets/image/png-button/button_img.png" />
            </div>
          </a>
        </div>

        <div
          class="inline-block cursor-pointer hover:border hover:border-grayTextPeterfell-900">
          <div class="flex p-2">
            <div class="w-auto">
              <div class="bg-orangeLightPeterfell w-48 h-10"></div>
              <div class="p-2 text-xl text-left">
                <div class="flex items-center mb-3">
                  <p>PFL112</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button class="hover:brightness-200">
            <img
              src="../../assets/image/png-button/Icon-Close-Blue-1.png"
              alt="close-button" />
          </button>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <div>
            <form method="post" class="max-w-80">
              <div class="flex flex-col gap-4 rounded-lg">
                <div><h3>Your Details:</h3></div>
                <div>
                  <input
                    class="border border-solid border-black w-full h-10 pl-2"
                    type="text"
                    alt="Nome"
                    placeholder="Your Name *" />
                </div>
                <div>
                  <input
                    class="border border-solid border-black w-full h-10 pl-2"
                    type="tel"
                    alt="tel"
                    placeholder="Your Phone *" />
                </div>
                <div>
                  <input
                    class="border border-solid border-black w-full h-10 pl-2"
                    type="email"
                    alt="email"
                    placeholder="Your Email *" />
                </div>
              </div>
              <div class="flex flex-col gap-4 rounded-lg mt-2">
                <div><h3>Send samples to:</h3></div>
                <div>
                  <input
                    class="border border-solid border-black w-full h-10 pl-2"
                    type="text"
                    alt="houseNumberAndStreet"
                    placeholder="House number and street name *" />
                </div>
                <div>
                  <input
                    class="border border-solid border-black w-full h-10 pl-2"
                    type="text"
                    alt="OptionInput"
                    placeholder="Apartment, suite, unit, etc. (optional)" />
                </div>
                <div class="flex gap-1">
                  <div>
                    <input
                      class="border border-solid border-black w-full h-10 pl-2"
                      type="text"
                      alt="Town"
                      placeholder="Tow/City *" />
                  </div>
                  <div>
                    <input
                      class="border border-solid border-black w-full h-10 pl-2"
                      type="text"
                      alt="Region"
                      placeholder="Region *" />
                  </div>
                  <div>
                    <input
                      class="border border-solid border-black w-full h-10 pl-2"
                      type="text"
                      alt="Postcode"
                      placeholder="Postcode *" />
                  </div>
                </div>
              </div>
              <div class="flex flex-col gap-4 rounded-lg mt-2">
                <div><h3>Email this report to:</h3></div>
                <input
                  class="border border-solid border-black w-full h-10 pl-2"
                  type="name"
                  alt="name"
                  placeholder="Name *" />
                <input
                  class="border border-solid border-black w-full h-10 pl-2"
                  type="email"
                  alt="email"
                  placeholder="Email *" />
                <textarea
                  class="border border-solid border-black w-full h-24 pl-2"
                  placeholder="Message *"></textarea>
                <div>
                  <button
                    type="button"
                    class="bg-bluePeterfell px-8 py-4 place-content-center text-white font-bold">
                    Send
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="w-6/12">
            <div
              class="p-8 border border-transparent hover:border-zinc-300 transition-all duration-300">
              <div class="relative">
                <div
                  class="absolute w-full h-full bg-black opacity-50 hover:opacity-0 top-0 left-0 transition-all duration-300"></div>
                <img
                  src="https://www.peterfell.co.nz/wp-content/uploads/Coloured-concrete-floor-PFL137-Sandspit-NZ.jpg" />
              </div>
              <p class="font-light mt-4">Floors</p>
            </div>
          </div>
          <div>
            <div
              class="inline-block cursor-pointer hover:border hover:border-grayTextPeterfell-900">
              <div class="flex p-2">
                <div>
                  <img
                    src="https://i.ibb.co/rZwJnn5/Smooth-trowel.png"
                    alt="" />
                </div>
                <div class="p-2 text-xl">
                  <div class="flex items-center mb-2">
                    <p>Smooth Trowel</p>
                    <img
                      src="https://i.ibb.co/DzbDFzq/info-icon.png"
                      alt="info-icon"
                      class="object-contain p-2" />
                  </div>
                  <div class="flex text-sm">
                    <p class="mr-4 min-w-8">
                      Standard internal finish for residential floors to
                      generate a smooth concrete surface.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div
              class="inline-block cursor-pointer hover:border hover:border-grayTextPeterfell-900">
              <div class="flex p-2">
                <div class="max-w-24 m-3">
                  <img
                    src="../../assets/image/website image/f16-PFL-Acrylic-Sealer-2L.png"
                    alt="" />
                </div>
                <div class="p-2">
                  <div class="flex items-center mb-2">
                    <p>PFL Acrylic Sealer</p>
                    <button
                      class="ml-2 text-xs h-3 w-3 bg-blueButtonPeterfell rounded-full text-white">
                      i
                    </button>
                  </div>
                  <div class="flex text-sm">
                    <p class="mr-4 min-w-10">Type:</p>
                    <p>Water-based</p>
                  </div>
                  <div class="flex text-sm">
                    <p class="mr-4 min-w-10">Cost:</p>
                    <div class="flex flex-nowrap">
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                    </div>
                  </div>
                  <div class="flex text-sm">
                    <p class="mr-4 min-w-10">Lasts:</p>
                    <div class="flex flex-nowrap">
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                    </div>
                  </div>
                  <div class="flex text-sm">
                    <p class="mr-4 min-w-10">Gloss:</p>
                    <div class="flex flex-nowrap">
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                      <div
                        class="border border-bluePeterfell min-w-9 h-3 m-0.5"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
       
  </body>
</html>
