<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="inline-block cursor-pointer">
      <div class="flex p-2">
        <div class="w-auto p-2 border border-transparent hover:border-gray-300">
          <div class="bg-orangeLightPeterfell w-48 h-10"></div>
          <div class="p-2 text-xl text-left">
            <div class="flex items-center mb-3">
              <p>PFL112</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
