<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="bg-black h-full w-full py-10 px-6">
      <div class="flex justify-between">
        <div>
          <button>
            <img
              src="../../assets/image/png-logo/PeterFell-Logo-On-Dark.png"
              alt=""
            />
          </button>
        </div>
        <div>
          <a href="/Peter-Fell-Project/index.html">
            <button class="hover:brightness-50">
              <img
                src="../../assets/image/png-button/Icon-Close-Menu.png"
                alt=""
              />
            </button>
          </a>
        </div>
      </div>

      <div class="lg:flex p-10 gap-40 lg:m-20">
        <div class="font-bold text-4xl text-white">
          <ul>
            <li class="my-10">
              <a
                href=""
                class="flex items-center gap-8 hover:text-bluePeterfell transition-all duration-300"
              >
                <p class="title">Choose your space</p>
                <div class="invert w-6">
                  <img
                    src="../../assets/image/png-button/arrowPopup.svg"
                    alt=""
                  />
                </div>
              </a>
            </li>
            <li class="my-10">
              <a
                href=""
                class="flex items-center gap-8 hover:text-bluePeterfell transition-all duration-300"
              >
                <p class="title">Colour range</p>
                <div class="invert w-6">
                  <img
                    src="../../assets/image/png-button/arrowPopup.svg"
                    alt=""
                  />
                </div>
              </a>
            </li>
            <li class="my-10">
              <a
                href=""
                class="flex items-center gap-8 hover:text-bluePeterfell transition-all duration-300"
              >
                <p class="title">Polished concrete</p>
                <div class="invert w-6">
                  <img
                    src="../../assets/image/png-button/arrowPopup.svg"
                    alt=""
                  />
                </div>
              </a>
            </li>
            <li class="my-10">
              <a
                href=""
                class="flex items-center gap-8 hover:text-bluePeterfell transition-all duration-300"
              >
                <p class="title">Texture Safe System</p>
                <div class="invert w-6"></div>
              </a>
            </li>
            <li class="my-10">
              <a
                href=""
                class="flex items-center gap-8 hover:text-bluePeterfell transition-all duration-300"
              >
                <p class="title">Products</p>
                <div class="invert w-6">
                  <img
                    src="../../assets/image/png-button/arrowPopup.svg"
                    alt=""
                  />
                </div>
              </a>
            </li>
            <li class="my-10">
              <a
                href=""
                class="flex items-center gap-8 hover:text-bluePeterfell transition-all duration-300"
              >
                <p class="title">Conctact us</p>
                <div class="invert w-6">
                  <img
                    src="../../assets/image/png-button/arrowPopup.svg"
                    alt=""
                  />
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="inline h-full">
          <ul>
            <li
              class="text-grayTextPeterfell text-xl hover:text-bluePeterfell transition-all duration-300 mt-10"
            >
              <a href="">
                <p>Rejuvenate your concrete</p>
              </a>
            </li>
            <li
              class="text-grayTextPeterfell text-xl hover:text-bluePeterfell transition-all duration-300 my-5"
            >
              <a href="" class="flex items-center gap-10">
                <p>Technical</p>
                <div class="invert w-6">
                  <img
                    src="../../assets/image/png-button/arrowPopup.svg"
                    alt=""
                  />
                </div>
              </a>
            </li>
            <li
              class="text-grayTextPeterfell text-xl hover:text-bluePeterfell transition-all duration-300 my-5"
            >
              <a href="">
                <p>News & case studies</p>
              </a>
            </li>
            <li
              class="text-grayTextPeterfell text-xl hover:text-bluePeterfell transition-all duration-300 my-5"
            >
              <a href="">
                <p>Sustainability</p>
              </a>
            </li>
            <li>
              <div>
                <div class="flex">
                  <a href="" class="max-w-6 mr-5 invert"
                    ><img src="../../assets/image/png-button/pinterest.png"
                  /></a>
                  <a href="" class="max-w-6 mr-5 invert"
                    ><img src="../../assets/image/png-button/facebook.png"
                  /></a>
                  <a href="" class="max-w-6 mr-5 invert"
                    ><img src="../../assets/image/png-button/linkedin.png"
                  /></a>
                  <a href="" class="max-w-6 mr-5 invert"
                    ><img src="../../assets/image/png-button/instagram.png"
                  /></a>
                  <a href="" class="max-w-6 mr-5 invert"
                    ><img src="../../assets/image/png-button/youtube.png"
                  /></a>
                </div>
              </div>
            </li>
            <li class="text-white text-xl font-bold my-5">
              <a href="">
                <p>0800 4226 5687</p>
              </a>
            </li>
            <li>
              <div class="border-b border-grayTextPeterfell flex items-center">
                <input
                  type="search"
                  name=""
                  class="bg-transparent p-2"
                  placeholder="Search..."
                />
                <div class="invert w-5">
                  <a href="">
                    <img
                      src="../../assets/image/png-button/search.svg"
                      alt=""
                    />
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
