<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coloured concrete for any space</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div>
          <h2 class="text-4xl md:text-6xl font-bold text-gray-900">
            Coloured concrete for any space.
          </h2>
          <div class="mt-4 md:text-left mb-3.5 ml-auto w-1/2">
            <p class="leading-6 text-base text-gray-700">
              Using coloured concrete can take a space and make it special. With
              over 80 colours to choose from, you’ll find the hue that’s a
              perfect match for your plans.
            </p>
            <div
              class="text-blueButtonPeterfell mt-8 hover:brightness-0 hover: transition-all duration-300"
            >
              <a
                href="#"
                class="inline-flex border-b-blueButtonPeterfell border-b-2 items-center p-1"
              >
                <p class="text-lg font-bold">Choose your colour</p>
                <div class="ms-2">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="text-center">
          <img
            src="https://i.ibb.co/gmCXKmF/Coloured-concrete-for-any-space-1.png"
            alt="Concrete"
            class="max-w-full mx-auto"
          />
        </div>
      </div>
    </div>
  </body>
</html>
