<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coloured concrete for any space</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="container mx-auto px-4 py-8">
      <div class="gap-8 items-center flex flex-col md:flex-row-reverse">
        <div class="order-2 gap-8 flex flex-col-reverse md:ml-auto">
          <h2 class="text-4xl md:text-6xl font-bold text-gray-900 order-2">
            Coloured concrete for any space.
          </h2>

          <div class="flex flex-col gap-8 md:w-3/5 md:ml-auto">
            <p class="leading-6 text-base text-gray-700">
              Using coloured concrete can take a space and make it special. With
              over 80 colours to choose from, you’ll find the hue that’s a
              perfect match for your plans.
            </p>
            <div
              class="text-blueButtonPeterfell hover:brightness-0 hover: transition-all duration-300"
            >
              <a
                href="#"
                class="inline-flex border-b-blueButtonPeterfell border-b-2 items-center p-1"
              >
                <p class="text-lg font-bold">Choose your colour</p>
                <div class="ms-2">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center order-1 md:mr-auto w-full md:w-740 md:h-740">
          <img
            src="https://i.ibb.co/gmCXKmF/Coloured-concrete-for-any-space-1.png"
            alt="Concrete"
            class="w-auto object-fill h-auto mx-auto"
          />
        </div>
      </div>
    </div>
  </body>
</html>
