<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div>
      <div class="md:flex p-10">
        <div class="mr-20">
          <h1 class="text-6xl text-center">Choose your patterns.</h1>
          <div class="flex flex-col items-center">
            <div class="py-10 w-3/4">
              <p class="text-2xl mb-5 text-grayTextPeterfell">
                Here’s where you can choose the style of cuts you want in your
                concrete to avoid the risk of cracking.
              </p>
              <p class="text-lg text-grayTextPeterfell">
                Construction Cuts are essential in controlling concrete
                cracking. Talk to your contractor about where the construction
                cuts will be positioned. Add Decorative Cuts to add even more
                visual interest to your coloured concrete flooring.
              </p>
            </div>
          </div>
        </div>
        <div>
          <img src="../../assets/image/websiteImage/patternsIMG.png" alt="" />
        </div>
      </div>
      <div>
        <p class="text-3xl px-10 font-bold">Concrete cuts.</p>
        <div class="inline-grid p-10 gap-3 text-grayTextPeterfell">
          <div
            class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
          >
            <div class="flex p-2">
              <div class="max-w-32 m-3">
                <img
                  src="../../assets/image/websiteimage/patternCuts1.png"
                  alt=""
                />
              </div>
              <div class="p-2 max-w-md">
                <div class="mb-2">
                  <p class="text-2xl">Construction cuts only</p>
                  <p>
                    This technique is required for concrete floors to control
                    the cracking so it occurs at the cuts.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
          >
            <div class="flex p-2">
              <div class="max-w-32 m-3">
                <img
                  src="../../assets/image/websiteimage/patternCuts2.png"
                  alt=""
                />
              </div>
              <div class="p-2 max-w-md">
                <div class="mb-2">
                  <p class="text-2xl">Decorative cuts</p>
                  <p>
                    Square pattern cuts applied in addition to construction cuts
                    for aesthetic purposes.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
          >
            <div class="flex p-2">
              <div class="max-w-32 m-3">
                <img
                  src="../../assets/image/websiteimage/patternCuts3.png"
                  alt=""
                />
              </div>
              <div class="p-2 max-w-md">
                <div class="mb-2">
                  <p class="text-2xl">Not Applicable</p>
                  <p>
                    Generally, no cuts are needed in concrete walls, however
                    please be aware however that for cast in-situ walls, you’ll
                    need to include expansive joints to allow for movement. We
                    recommend that you discuss this with your engineer.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
