<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid grid-cols-4 gap-2 text-center rounde text-xs">
      <div class="bg-bluePeterfell p-4 rounded-lg text-white">
        <p>5A87AC</p>
      </div>
      <div class="bg-bluePeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-rosePeterfell p-4 rounded-lg">
        <p>CF9294</p>
      </div>
      <div class="bg-rosePeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-blueButtonPeterfell p-4 rounded-lg text-white">
        <p>7A99AC</p>
      </div>
      <div class="bg-blueButtonPeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-orangeLightPeterfell p-4 rounded-lg">
        <p>C17042</p>
      </div>
      <div class="bg-orangeLightPeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-orangePeterfell p-4 text-white rounded-lg">
        <p>B65838</p>
      </div>
      <div class="bg-orangePeterfell opacity-40 p-4 rounded-lg"></div>
      <div class="bg-yellowPeterfell p-4 rounded-lg">
        <p>CF9C42</p>
      </div>
      <div class="bg-yellowPeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-grayPeterfell p-4 text-white rounded-lg">
        <p>797A7B</p>
      </div>
      <div class="bg-grayPeterfell opacity-40 p-4 rounded-lg"></div>
      <div class="bg-greenLightPeterfell p-4 rounded-lg">
        <p>A49A51</p>
      </div>
      <div class="bg-greenLightPeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-grayTextPeterfell p-4 text-white rounded-lg">
        <p>6D6E70</p>
      </div>
      <div class="bg-grayTextPeterfell opacity-40 p-4 rounded-lg"></div>
      <div class="bg-greenPeterfell p-4 rounded-lg">
        <p>788C50</p>
      </div>
      <div class="bg-greenPeterfell p-4 rounded-lg opacity-40"></div>
      <div class="bg-black p-4 rounded-lg text-white">
        <p>000000</p>
      </div>
      <div class="bg-black opacity-40 p-4 rounded-lg"></div>
      <div class="bg-white p-4 drop-shadow-lg rounded-lg">
        <p>FFFFFF</p>
      </div>
    </div>
  </body>
</html>
