<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid grid-cols-4 gap-2 text-center text-xs rounded-sm">
      <div class="bg-bluePeterfell p-4 shadow-2xl text-white rounded-2xl">
        <p>5A87AC</p>
      </div>
      <div class="bg-bluePeterfell opacity-40"></div>
      <div class="bg-rosePeterfell">
        <p>CF9294</p>
      </div>
      <div class="bg-rosePeterfell opacity-40"></div>
      <div class="bg-orangeLightPeterfell">
        <p>C17042</p>
      </div>
      <div class="bg-orangeLightPeterfell opacity-40"></div>
      <div class="bg-blueButtonPeterfell">
        <p>7A99AC</p>
      </div>
      <div class="bg-blueButtonPeterfell opacity-40"></div>
      <div class="bg-greenPeterfell">
        <p>788C50</p>
      </div>
      <div class="bg-greenPeterfell opacity-40"></div>
      <div class="bg-yellowPeterfell">
        <p>CF9C42</p>
      </div>
      <div class="bg-yellowPeterfell opacity-40"></div>
      <div class="bg-greenLightPeterfell">
        <p>A49A51</p>
      </div>
      <div class="bg-greenLightPeterfell opacity-40"></div>
      <div class="bg-orangePeterfell">
        <p>B65838</p>
      </div>
      <div class="bg-orangePeterfell opacity-40"></div>
    </div>
  </body>
</html>
