<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex justify-between p-2 w-2/4">
      <h1>Colors</h1>
      <p>8 colours style</p>
    </div>
    <div class="grid grid-cols-4 gap-2 p-2 w-2/4">
      <div class="bg-bluePeterfell text-center text-xs rounded-sm">
        <p>5A87AC</p>
      </div>
      <div
        class="bg-bluePeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-rosePeterfell text-center text-xs rounded-sm">
        <p>CF9294</p>
      </div>
      <div
        class="bg-rosePeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-orangeLightPeterfell text-center text-xs rounded-sm">
        <p>C17042</p>
      </div>
      <div
        class="bg-orangeLightPeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-blueButtonPeterfell text-center text-xs rounded-sm">
        <p>7A99AC</p>
      </div>
      <div
        class="bg-blueButtonPeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-greenPeterfell text-center text-xs rounded-sm">
        <p>788C50</p>
      </div>
      <div
        class="bg-greenPeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-yellowPeterfell text-center text-xs rounded-sm">
        <p>CF9C42</p>
      </div>
      <div
        class="bg-yellowPeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-greenLightPeterfell text-center text-xs rounded-sm">
        <p>A49A51</p>
      </div>
      <div
        class="bg-greenLightPeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
      <div class="bg-orangePeterfell text-center text-xs rounded-sm">
        <p>B65838</p>
      </div>
      <div
        class="bg-orangePeterfell opacity-40 text-center text-xs rounded-sm"
      ></div>
    </div>
  </body>
</html>
