<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex bg-black">
      <a href="" class="max-w-6 mr-5 invert"
        ><img src="../../assets/image/png-button/pinterest.png"
      /></a>
      <a href="" class="max-w-6 mr-5 invert"
        ><img src="../../assets/image/png-button/facebook.png"
      /></a>
      <a href="" class="max-w-6 mr-5 invert"
        ><img src="../../assets/image/png-button/linkedin.png"
      /></a>
      <a href="" class="max-w-6 mr-5 invert"
        ><img src="../../assets/image/png-button/instagram.png"
      /></a>
      <a href="" class="max-w-6 mr-5 invert"
        ><img src="../../assets/image/png-button/youtube.png"
      /></a>
    </div>
  </body>
</html>
