<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="flex flex-col gap-8">
      <div class="">
        <h1
          class="hidden md:block md:text-6xl text-4xl font-bold text-gray-900 di">
          Looking for <br />
          Ispiration?
        </h1>
        <h1
          class="block md:hidden md:text-6xl text-4xl font-bold text-gray-900">
          Looking for Ispiration?
        </h1>
      </div>

      <div class="flex flex-col md:flex-row md:gap-0 gap-8">
        <div class="flex flex-col gap-8 md:order-first order-last md:w-1/6">
          <p class="md:w-9/12 w-full">
            We’ve been helping New Zealanders create their dream space since
            1991. Find out more about how coloured concrete can create the
            design statement you want indoors and out.
          </p>
          <button class="mr-auto">
            <div
              class="text-blueButtonPeterfell hover:brightness-0 hover: transition-all duration-300">
              <a
                href="#"
                class="inline-flex border-b-blueButtonPeterfell border-b-2 items-center p-1"
                ><p class="text-lg font-bold">Be Inspired</p>
                <div class="ms-2">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </button>
        </div>
        <div class="w-full md:w-6/12">
          <img
            src="../../assets/image/websiteImage/Looking.jpg"
            alt="looking" />
        </div>
      </div>
    </div>
  </body>
</html>
