<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="bg-black">
      <div class="md:mx-48 mx-10 py-6">
        <div class="text-white text-4xl py-6 font-bold">
          Specialist in<br />
          coloured concrete.
        </div>
        <div class="md:flex">
          <div class="xl:flex mr-4">
            <div class="mr-20">
              <p class="text-white font-bold text-2xl">Visit our showroom.</p>
              <p class="text-grayTextPeterfell">
                81 Patiki Road,<br />
                Rosebank Auckland, <br />
                New Zealand
              </p>
            </div>
            <div class="my-3">
              <div class="flex">
                <a href="" class="max-w-6 mr-5 invert"
                  ><img src="../../assets/image/png-button/pinterest.png"
                /></a>
                <a href="" class="max-w-6 mr-5 invert"
                  ><img src="../../assets/image/png-button/facebook.png"
                /></a>
                <a href="" class="max-w-6 mr-5 invert"
                  ><img src="../../assets/image/png-button/linkedin.png"
                /></a>
                <a href="" class="max-w-6 mr-5 invert"
                  ><img src="../../assets/image/png-button/instagram.png"
                /></a>
                <a href="" class="max-w-6 mr-5 invert"
                  ><img src="../../assets/image/png-button/youtube.png"
                /></a>
              </div>
              <div class="text-white mt-3">0800 422 65687</div>
            </div>
          </div>
          <div>
            <p class="text-white font-bold text-2xl">
              Subscribe to our newsletter.
            </p>
            <div>
              <input
                type="text"
                name="name"
                placeholder="Name"
                class="bg-black border border-white p-2 my-1 text-sm"
              />
              <input
                type="text"
                name="name"
                placeholder="Email address"
                class="bg-black border border-white p-2 my-1 text-sm"
              />
            </div>
            <div>
              <div
                class="text-blueButtonPeterfell hover:saturate-0 hover: transition-all duration-300 my-4"
              >
                <a
                  href="#"
                  class="inline-flex border-b-blueButtonPeterfell border-b-2 items-center p-1"
                  ><p class="text-xl font-bold">Subscribe</p>
                  <div class="ms-2">
                    <img src="../../assets/image/png-button/button_img.png" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p class="text-grayTextPeterfell text-xs font-bold">
            © Peter Fell Ltd 2022. Designed by Forge.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
