<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="container mx-auto px-4 py-8">
      <div
        class="flex flex-col md:flex-row items-center space-y-8 md:space-y-0 md:space-x-8"
      >
        <div class="md:w-3/4">
          <h2 class="text-4xl md:text-6xl font-bold text-gray-900">
            Choose your colour.
          </h2>
          <div class="md:text-left mb-3.5 p-6">
            <h5 class="p-5 -mb-2 text-2xl">
              It’s time to choose your colours.
            </h5>
            <p class="w-10/12 leading-6 text-base text-gray-700 p-4">
              There are a couple of things you need to keep in mind. Colours
              look different on every screen you view them on, so order some
              actual samples before making your final decision. Something else
              to remember is that because concrete is a natural material with
              natural variations, the concrete laid in your space probably won’t
              match the sample exactly.
            </p>
          </div>
        </div>
        <div class="mt-8 md:w-1/2 flex flex-col justify-center items-center">
          <div class="image-block">
            <img
              class="img-fluid"
              src="https://i.ibb.co/5YprxdQ/coloured-concrete-block-sealer-variations-1.png"
            />
          </div>
          <div class="mt-4 leading-6">
            <p>
              The use of different sealers will impact on the final colour, as
              you’ll see from the swatches we supply.
              <br />
            </p>
            <p>
              <strong>A</strong> = PFL Acrylic Sealer, PFL Epoxy Sealer or PFL
              C<sup>2</sup>
              Polish Concrete
            </p>
            <p><strong>B</strong> = PFL Natural Sealer</p>
            <p><strong>C</strong> = PFL Glaze Sealer or PFL Satin Sealer</p>
          </div>
        </div>
      </div>
      <div class="mt-40">
        <h3 class="ml-4 text-3xl md:text-3xl font-bold text-gray-900">
          Neutral range
        </h3>
        <h4 class="ml-4 text-xl md:text-xl text-gray-600">SPECIAL NEUTRAL</h4>
        <div class="flex flex-wrap justify-start">
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="flex flex-wrap justify-start">
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
        </div>
        <h4 class="ml-4 text-xl md:text-xl text-gray-600">PREMIUM NEUTRAL</h4>
        <div class="flex flex-wrap justify-start">
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
          <div class="m-2 w-5/12 md:w-auto">
            <button
              class="w-full p-2 border border-transparent hover:border-gray-300"
            >
              <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
              <div class="p-2 text-l text-left">
                <div class="flex items-center">
                  <p>PFL112</p>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <h3 class="ml-4 text-3xl md:text-3xl font-bold text-gray-900">
        Neutral range
      </h3>
      <h4 class="ml-4 text-xl md:text-xl text-gray-600">SPECIAL NEUTRAL</h4>
      <div class="flex flex-wrap justify-start">
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="flex flex-wrap justify-start">
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
      </div>
      <h4 class="ml-4 text-xl md:text-xl text-gray-600">PREMIUM NEUTRAL</h4>
      <div class="flex flex-wrap justify-start md:justify-start">
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
        <div class="m-2 w-5/12 md:w-auto">
          <button
            class="w-full p-2 border border-transparent hover:border-gray-300"
          >
            <div class="bg-orangeLightPeterfell w-full h-10 md:w-28"></div>
            <div class="p-2 text-l text-left">
              <div class="flex items-center">
                <p>PFL112</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
