<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <h2 class="text-6xl max-md:text-4xl font-bold text-gray-900">
        Case studies & news.
      </h2>
      <div class="flex max-md:flex-col gap-2">
        <div class="max-w-80 gap-4 flex flex-col max-md:max-w-full">
          <div class="">
            <p class="text-blueButtonPeterfell">
              7 March 2024 / <span class="font-bold">Case Studies</span>
            </p>
          </div>
          <div class="max-w-70">
            <img
              class="w-full"
              src="../../assets/image/websiteImage/Untitled-design-3.png"
              alt="image house"
            />
          </div>
          <div>
            <h4 class="text-grayTextPeterfell text-2xl">LIGHT CATCHER.</h4>
          </div>
          <div>
            <p class="w-full">
              Jose Gutierrez Architects transformed this character villa,
              located on a typical Grey Lynn street, into a contemporary oasis -
              a place that moves between lightness and solidity with a fluid
              grace.
            </p>
          </div>
          <div>
            <a class="text-bluePeterfell hover:text-black cursor-pointer"
              >read more</a
            >
          </div>
        </div>
        <div class="max-w-80 gap-4 flex flex-col max-md:max-w-full">
          <div class="">
            <p class="text-blueButtonPeterfell">
              8 February 2024 / <span class="font-bold">Case Studies</span>
            </p>
          </div>
          <div class="max-w-70">
            <img
              class="w-full"
              src="../../assets/image/websiteImage/Untitled-600-x-500-px-1200-x-615-px-1200-x-675-px.png"
              alt="image house"
            />
          </div>
          <div>
            <h4 class="text-grayTextPeterfell text-2xl">
              A REPRIEVE FROM THE ORDINARY.
            </h4>
          </div>
          <div>
            <p class="w-full">
              This luxury lodge in the heart of the South Island has been
              flawlessly designed by Warren and Mahoney
            </p>
          </div>
          <div>
            <a class="text-bluePeterfell hover:text-black cursor-pointer"
              >read more</a
            >
          </div>
        </div>
        <div class="max-w-80 gap-4 flex flex-col max-md:max-w-full">
          <div class="">
            <p class="text-blueButtonPeterfell">
              7 December 2023 / <span class="font-bold">Case Studies</span>
            </p>
          </div>
          <div class="max-w-70">
            <img
              class="w-full"
              src="../../assets/image/websiteImage/Untitled-600-x-500-px-1200-x-615-px-1200-x-675-px.png"
              alt="image house"
            />
          </div>
          <div>
            <h4 class="text-grayTextPeterfell text-2xl">
              DECADENCE UNDERFOOT.
            </h4>
          </div>
          <div>
            <p class="w-full">
              In a pool house that opens to a midcentury modern home in Remuera,
              an interior palette was designed to reflect the original
              architectural language and create a strong narrative between old
              and new.
            </p>
          </div>
          <div>
            <a class="text-bluePeterfell hover:text-black cursor-pointer"
              >read more</a
            >
          </div>
        </div>
      </div>
      <div
        class="text-blueButtonPeterfell hover:brightness-0 hover: transition-all duration-300"
      >
        <a
          href="#"
          class="inline-flex border-b-blueButtonPeterfell border-b-2 items-center p-1"
          ><p class="text-lg font-bold">View all articles</p>
          <div class="ms-2">
            <img src="../../assets/image/png-button/button_img.png" />
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
