<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="inline-block cursor-pointer hover:border hover:border-grayTextPeterfell-900"
    >
      <div class="flex p-2">
        <div>
          <img
            src="https://i.ibb.co/rZwJnn5/Smooth-trowel.png"
            alt=""
          />
        </div>
        <div class="p-2 text-xl">
          <div class="flex items-center mb-2">
            <p>Smooth Trowel</p>
             <img
            src="https://i.ibb.co/DzbDFzq/info-icon.png"
            alt="info-icon"
            class="object-contain p-2"
          />
          </div>
          <div class="flex text-sm">
            <p class="mr-4 min-w-8">Standard internal finish for 
                residential floors to generate a smooth
          concrete surface.</p>
          </div>
      </div>
    </div>
  </body>
</html>
