<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div
      class="grid grid-cols-4 h-screen bg-right"
      style="
        background-image: url('../../assets/image/websiteImage/mainBg_1.jpg');
      "
    >
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto text-5xl text-white font-bold">
            Get<br />inspired.
          </p>
        </div>
        <div
          class="h-full bg-yellowPeterfell opacity-0 absolute w-full top-0 left-0 transition-all p-10 text-white"
        ></div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Floors</p>
        </div>
        <div
          class="h-full bg-rosePeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Floors</p>
            <p class="text-sm mb-10 font-bold">
              More conmfortable with a coloured concrete floor.
            </p>

            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-lg font-bold">Floors inspirations</p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Patios & Courtyards</p>
        </div>
        <div
          class="h-full bg-orangeLightPeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Patios & Courtyards</p>
            <p class="text-sm mb-10 font-bold">
              Beauty that lasts with a coloured concrete patio.
            </p>
            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-lg font-bold">
                  Patios & Courtyards inspirations
                </p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Driveways & Paths</p>
        </div>
        <div
          class="h-full bg-bluePeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Driveways & Paths</p>
            <p class="text-sm mb-10 font-bold">
              Stand apart with a coloured concrete driveway and path.
            </p>
            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-g font-bold">Driveways & Paths inspirations</p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Walls</p>
        </div>
        <div
          class="h-full bg-greenPeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Walls</p>
            <p class="text-sm mb-10 font-bold">
              Make more of your walls with coloured concrete.
            </p>
            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-lg font-bold">Walls inspirations</p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Walls</p>
        </div>
        <div
          class="h-full bg-yellowPeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Pool surrounds</p>
            <p class="text-sm mb-10 font-bold">
              Add sparkle to your pool with a coloured concrete surround.
            </p>
            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-lg font-bold">Pool surrounds inspirations</p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Commercial</p>
        </div>
        <div
          class="h-full bg-yellowPeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Commercial</p>
            <p class="text-sm mb-10 font-bold">
              Durability and flair for your commercial space with a coloured
              concrete floor.
            </p>
            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-lg font-bold">Commercial inspirations</p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-96 border border-grayPeterfell p-10 group">
        <div class="flex h-full">
          <p class="mt-auto ml-auto text-xl text-white">Public spaces</p>
        </div>
        <div
          class="h-full bg-orangePeterfell opacity-0 group-hover:opacity-100 cursor-pointer absolute w-full top-0 left-0 transition-all p-10 text-white"
        >
          <div class="flex flex-col justify-center h-full">
            <p class="font-bold text-3xl mb-10">Public spaces</p>
            <p class="text-sm mb-10 font-bold">
              Create inviting public spaces with coloured concrete.
            </p>
            <div class="text-black transition-all duration-300 hover:invert">
              <a
                href="#"
                class="inline-flex border-b-black border-b-2 items-center p-1"
                ><p class="text-lg font-bold">Public spaces inspirations</p>
                <div class="ms-2 brightness-0">
                  <img src="../../assets/image/png-button/button_img.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
