<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="inline-block border-b-blueButtonPeterfell border-b-2 text-blueButtonPeterfell hover:brightness-0 hover: transition-all duration-300"
    > 

      <a href="#" class="flex flex-row items-center p-1"
        ><p class="text-sm font-bold">Choose your colour</p>
        <div class="ms-2">
          <img src="../../assets/image/png-button/button_img.png" />
        </div>
      </a>
    </div>
  </body>
</html>
