<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="md:flex p-10">
      <div class="mr-20">
        <h1 class="text-6xl text-center">Choose your protection.</h1>
        <div class="flex flex-col items-center">
          <div class="py-10 w-3/4">
            <p class="text-2xl mb-5 text-grayTextPeterfell">
              Your coloured concrete is laid. Now it’s time to protect it from
              staining and marking.
            </p>
            <p class="text-sm text-grayTextPeterfell">
              Sealing or polishing the concrete surface makes it easy to clean,
              maintain and prolongs the life of your concrete. The sealer you
              choose has an impact on the final look and feel, it also provides
              the finishing touch to your space.
            </p>
          </div>
        </div>
      </div>
      <div class="text-grayTextPeterfell">
        <div class="max-w-80">
          <img src="../../assets/image/websiteImage/potectionImg.png" alt="" />
        </div>
        <p class="py-2">
          The use of different sealers will impact on the final colour, as
          you’ll see from the swatches we supply.
        </p>
        <p>
          <b class="text-black"> A </b>= PFL Acrylic Sealer, PFL Epoxy Sealer &
          PFL C2 Polish Concrete
          <br />
          <b class="text-black"> B </b> = PFL Natural Sealer <br />
          <b class="text-black"> C </b> = PFL Glaze Sealer & PFL Satin Sealer
        </p>
      </div>
    </div>
    <div>
      <p class="text-3xl p-10 font-bold">
        Recommended concrete sealers or densifiers for your Floors
      </p>
      <div class="inline-grid p-10 gap-3 text-grayTextPeterfell">
        <div
          class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
        >
          <div class="flex p-2">
            <div class="max-w-24 m-3">
              <img
                src="../../assets/image/websiteimage/f16-PFL-Acrylic-Sealer-2L.png"
                alt=""
              />
            </div>
            <div class="p-2">
              <div class="flex items-center mb-2 text-xl">
                <p>PFL Acrylic Sealer</p>
                <img
                  src="https://i.ibb.co/DzbDFzq/info-icon.png"
                  alt="info-icon"
                  class="object-contain p-2"
                />
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Type:</p>
                <p>Water-based</p>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Cost:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Lasts:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Gloss:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
        >
          <div class="flex p-2">
            <div class="max-w-24 m-3">
              <img
                src="../../assets/image/websiteimage/f16-PFL-Acrylic-Sealer-2L.png"
                alt=""
              />
            </div>
            <div class="p-2">
              <div class="flex items-center mb-2 text-xl">
                <p>PFL Glaze Sealer</p>
                <img
                  src="https://i.ibb.co/DzbDFzq/info-icon.png"
                  alt="info-icon"
                  class="object-contain p-2"
                />
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Type:</p>
                <p>Water-based</p>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Cost:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>

                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Lasts:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Gloss:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
        >
          <div class="flex p-2">
            <div class="max-w-24 m-3">
              <img
                src="../../assets/image/websiteimage/f16-PFL-Acrylic-Sealer-2L.png"
                alt=""
              />
            </div>
            <div class="p-2">
              <div class="flex items-center mb-2 text-xl">
                <p>PFL C<sup>2</sup>Shield</p>
                <img
                  src="https://i.ibb.co/DzbDFzq/info-icon.png"
                  alt="info-icon"
                  class="object-contain p-2"
                />
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Type:</p>
                <p>Densifier</p>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Cost:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Lasts:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Gloss:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
        >
          <div class="flex p-2">
            <div class="max-w-24 m-3">
              <img
                src="../../assets/image/websiteimage/f16-PFL-Acrylic-Sealer-2L.png"
                alt=""
              />
            </div>
            <div class="p-2">
              <div class="flex items-center mb-2 text-xl">
                <p>PFL Epoxy Sealer</p>
                <img
                  src="https://i.ibb.co/DzbDFzq/info-icon.png"
                  alt="info-icon"
                  class="object-contain p-2"
                />
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Type:</p>
                <p>Water-based</p>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Cost:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Lasts:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Gloss:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
        >
          <div class="flex p-2">
            <div class="max-w-24 m-3">
              <img
                src="../../assets/image/websiteimage/f16-PFL-Acrylic-Sealer-2L.png"
                alt=""
              />
            </div>
            <div class="p-2">
              <div class="flex items-center mb-2 text-xl">
                <p>PFL C<sup>2</sup>Gloss</p>
                <img
                  src="https://i.ibb.co/DzbDFzq/info-icon.png"
                  alt="info-icon"
                  class="object-contain p-2"
                />
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Type:</p>
                <p>Densifier</p>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Cost:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>

                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Lasts:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Gloss:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="inline-block cursor-pointer border border-transparent hover:border-gray-300"
        >
          <div class="flex p-2">
            <div class="max-w-24 m-3">
              <img
                src="../../assets/image/websiteimage/f16-PFL-Acrylic-Sealer-2L.png"
                alt=""
              />
            </div>
            <div class="p-2">
              <div class="flex items-center mb-2 text-xl">
                <p>PFL C<sup>2</sup>SUper Hard</p>
                <img
                  src="https://i.ibb.co/DzbDFzq/info-icon.png"
                  alt="info-icon"
                  class="object-contain p-2"
                />
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Type:</p>
                <p>Water-based</p>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Cost:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Lasts:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
              <div class="flex text-sm">
                <p class="mr-4 min-w-10">Gloss:</p>
                <div class="flex flex-nowrap">
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                  <div
                    class="bg-blueButtonPeterfell border border-bluePeterfell min-w-9 h-3 m-0.5"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
